body{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar-inverse {
    background-color: #6495ED;
    border-color: #0000b3;
}


.active{
    background-color: #0000b3;	
}

.navbar-fixed-bottom{
    background-color: #4d4dff;
    border-color: #0000b3;
    height:1em;
    color:#ffffff;
}



.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

