  .keizertable { width: 100%; max-width:100%; margin-bottom:20px; }
  .keizertable td { border:1px solid #ddd; }
  .keizertable tr:nth-of-type(1) { color: #000066; text-align: left;
font-size:18px; font-weight:500;  }
  .keizertable tr:nth-of-type(1) td { padding: 0.4em; }
  .keizertable tr:nth-of-type(2) { background-color: blue; color: White; }
  .keizertable tr:nth-of-type(n+2) td { font-size: 14px; font-family: Arial,
Helvetica, sans-serif; padding: 8px;}

  .keizerresults tr:nth-of-type(2) td:nth-of-type(1) { width: 40%;
padding-left: 2em; }
  .keizerresults tr:nth-of-type(2) td:nth-of-type(2) { width: 4%; }
  .keizerresults tr:nth-of-type(2) td:nth-of-type(3) { width: 40%;
padding-left: 2em; }
  .keizerresults tr:nth-of-type(2) td:nth-of-type(4) { width: 16%;
text-align: center; }
  .keizerresults tr:nth-of-type(n+3) td:nth-of-type(1) { text-align:
center; }
  .keizerresults tr:nth-of-type(n+3) td:nth-of-type(2) { text-align:
center; }
  .keizerresults tr:nth-of-type(n+3) td:nth-of-type(3) { text-align:
center; }
  .keizerresults tr:nth-of-type(n+3) td:nth-of-type(4) { text-align:
center; }
  .keizerresults tr:last-of-type { display:none; }

  .keizerrankings tr:nth-of-type(2) td:nth-of-type(1) { width: 8%;
text-align:right; padding-right: 1.5em; }
  .keizerrankings tr:nth-of-type(2) td:nth-of-type(2) { width: 40%;
padding-left: 1em; }
  .keizerrankings tr:nth-of-type(2) td:nth-of-type(3) { width: 12%;
text-align: center; }
  .keizerrankings tr:nth-of-type(2) td:nth-of-type(5) { width: 10%;
text-align: center; }
  .keizerrankings tr:nth-of-type(2) td:nth-of-type(6) { width: 10%;
text-align: center; }
  .keizerrankings tr:nth-of-type(2) td:nth-of-type(7) { width: 10%;
text-align: center; }
  .keizerrankings tr:nth-of-type(2) td:nth-of-type(8) { width: 10%;
text-align: center; }
  .keizerrankings tr:nth-of-type(n+3) td:nth-of-type(1) { text-align: right;
padding-right: 1.5em; }
  .keizerrankings tr:nth-of-type(n+3) td:nth-of-type(2) { text-align: left;
padding-left: 1em; }
  .keizerrankings tr:nth-of-type(n+3) td:nth-of-type(3) { text-align: right;
padding-right: 1.5em; }
  .keizerrankings tr td:nth-of-type(4) { display: none; }
  .keizerrankings tr:nth-of-type(n+3) td:nth-of-type(n+5) { text-align:
center; }
  .keizerrankings tr td:nth-of-type(n+9) { display: none; }
  .keizerrankings tr:last-of-type td { border-bottom: solid 1px grey; }
